<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDatabase" connectionString="server=localhost;database=studentdashboard;user=root;password=root;port=3306;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration> 